<a href="https://colab.research.google.com/github/dudesparsh/Applied-ML/blob/master/Sentiment_Analysis_using_Flair.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Just use this for installing the library
#pip install flair
#pip install pandas
#pip install numpy

In [ ]:
# Loading the sentiment analysis model
from flair.models import TextClassifier
from flair.data import Sentence
classifier = TextClassifier.load('en-sentiment')

In [ ]:
#import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# sentence = Sentence('Flair is pretty neat!')
# classifier.predict(sentence)
# print sentence with predicted labels
# For predicting the sentiment of any sentence
print('Sentence above is: ', sentence.labels)

Sentence above is:  [POSITIVE (0.9997)]

In [ ]:
# Reading the data from csv
data_temp = pd.read_csv('Tweets.csv')

In [ ]:
# Viewing the top 5 rows of the table
data_temp.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

In [ ]:
# data_temp = pd.read_csv('Tweets.csv')
# Creating our dataframe having 2 columns : text and score
data_2 = pd.DataFrame(data = data_temp['text'], columns=['text', 'score'])

In [ ]:
data_2.head()

                                                text score
0                @VirginAmerica What @dhepburn said.   NaN
1  @VirginAmerica plus you've added commercials t...   NaN
2  @VirginAmerica I didn't today... Must mean I n...   NaN
3  @VirginAmerica it's really aggressive to blast...   NaN
4  @VirginAmerica and it's a really big bad thing...   NaN

In [ ]:
# len(data_2)
# Length of our data ( no. of rows) for which we will run the loop

14640

In [ ]:
# Running for all rows
for i in range(len(data_2)):
  sentence = Sentence(data_2['text'][i])
  # Predicting the sentiment
  classifier.predict(sentence)
  value = sentence.labels[0].to_dict()['value']
  # If sentiment is positive : we take it's value, else we multiply it by -1
  if value == 'POSITIVE':
    result = sentence.to_dict()['labels'][0]['confidence']
  else :
    result = -(sentence.to_dict()['labels'][0]['confidence'])
  # Storing the result, back in our dataframe in score column
  data_2['score'][i] = result
  # print('Sentence above is: ', sentence.labels)

In [ ]:
# Viewing final sentiment
data_2.head()

                                                text     score
0                @VirginAmerica What @dhepburn said.  0.764378
1  @VirginAmerica plus you've added commercials t... -0.761819
2  @VirginAmerica I didn't today... Must mean I n... -0.935123
3  @VirginAmerica it's really aggressive to blast... -0.985978
4  @VirginAmerica and it's a really big bad thing... -0.999967

In [ ]:
# Exporting to csv
data_2.to_csv('final.csv')